<!DOCTYPE html>
<html>

<head>
  <title>{{#if title}}{{title}}{{else}}User | Pets{{/if}}</title>
  <link rel='stylesheet' href='/assets/css/bare.min.css' />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script> --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/start/jquery-ui.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  {{> nav}}
  <section style="max-width: auto">
    <br>
    {{#if message}}
    <card>
      <p txt="c" id="nao-pago">{{message}}</p>
    </card>
    {{/if}}
    {{#if error}}
    <card>
      <p txt="c" id="pago">{{error}}</p>
    </card>
    {{/if}}
    <br>
    {{{body}}}
  </section>
  {{> footer}}
</body>

</html>