<!DOCTYPE html>
<html>

<head>
  <title>{{#if title}}{{title}}{{else}}User | AcampaIPP{{/if}}</title>
  <link rel='stylesheet' href='/assets/css/bare.min.css' />
  {{!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script> --}}
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.6/dist/sweetalert2.all.min.js" integrity="sha256-Ry2q7Rf2s2TWPC2ddAg7eLmm7Am6S52743VTZRx9ENw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/start/jquery-ui.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  {{> nav}}
  <section style="max-width: auto">
    <br>
    {{#if message}}
    <card>
      <p txt="c" id="nao-pago">{{message}}</p>
    </card>
    {{/if}}
    {{#if error}}
    <card>
      <p txt="c" id="pago">{{error}}</p>
    </card>
    {{/if}}
    <br>
    {{{body}}}
  </section>
  {{> footer}}
</body>

</html>